---
repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: v2.2.0
    hooks:
      - id: doctoc
        exclude: AGENTS.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # See: https://github.com/pre-commit/pre-commit-hooks/releases
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-json
        exclude: |
          (?x)^(
              ^.vscode/.*\.json
          )$
      - id: pretty-format-json
        exclude: |
          (?x)^(
              ^.vscode/.*\.json
          )$
        args:
          - --autofix
          # Note: this hook does not honor the .editorconfig value so
          #   they need to be kept in sync manually
          - --indent=2
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: detect-private-key

  # Make sure python is well formed
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Lint, fixing what can be automatically fixed
      - id: ruff
        args: [--fix]
      # Format to ensure consistent style
      - id: ruff-format

  # TODO/aspirational: clean up GHA to follow best practices
  # - repo: https://github.com/zizmorcore/zizmor-pre-commit
  #   rev: v1.14.2
  #   hooks:
  #     - id: zizmor

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.4.2
    hooks:
      - id: renovate-config-validator
        args: [--strict]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint

  # - repo: https://github.com/asottile/pyupgrade
  #   rev: v2.3.0
  #   hooks:
  #     - id: pyupgrade
  #       args: [--py37-plus]
  # - repo: https://github.com/psf/black
  #   rev: 19.10b0
  #   hooks:
  #     - id: black
  #       args:
  #         - --safe
  #         - --quiet
  #       files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  # - repo: https://github.com/codespell-project/codespell
  #   rev: v1.16.0
  #   hooks:
  #     - id: codespell
  #       args:
  #         - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
  #         - --skip="./.*,*.csv,*.json"
  #         - --quiet-level=2
  #       exclude_types: [csv, json]
  # - repo: https://gitlab.com/pycqa/flake8
  #   rev: 3.8.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         - flake8-docstrings==1.5.0
  #         - pydocstyle==5.0.2
  #       files: ^(homeassistant|script|tests)/.+\.py$
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.6.2
  #   hooks:
  #     - id: bandit
  #       args:
  #         - --quiet
  #         - --format=custom
  #         - --configfile=tests/bandit.yaml
  #       files: ^(homeassistant|script|tests)/.+\.py$
  # - repo: https://github.com/pre-commit/mirrors-isort
  #   rev: v4.3.21
  #   hooks:
  #     - id: isort
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v2.4.0
  #   hooks:
  #     - id: check-executables-have-shebangs
  #       stages: [manual]
  #     - id: check-json
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v0.770
  #   hooks:
  #     - id: mypy
  #       args:
  #         - --pretty
  #         - --show-error-codes
  #         - --show-error-context
# TODO: see: https://github.com/sopelj/hass-ember-mug-component/blob/main/.pre-commit-config.yaml
